<div class="container">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
        <a
            href="/"
            class="
                d-flex
                align-items-center
                flex-shrink-0
                p-3
                link-dark
                text-decoration-none
                border-bottom
            "
        >
            <input
                class="fs-5 fw-semibold"
                type="text"
                [(ngModel)]="username"
            />
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <div
                class="list-group-item list-group-item-action py-3 lh-tight"
                *ngFor="let msg of messages"
            >
                <div
                    class="
                        d-flex
                        w-100
                        align-items-center
                        justify-content-between
                    "
                >
                    <strong class="mb-1">{{ msg.username }}</strong>
                    <small class="text-muted">{{ msg.message }}</small>
                </div>
                <div class="col-10 mb-1 small">
                    Some placeholder content in a paragraph below the heading
                    and date.
                </div>
            </div>
        </div>
    </div>
    <form (ngSubmit)="(submit)">
        <input
            class="form-control"
            type="text"
            placeholder="Write a message..."
            [(ngModel)]="message"
        />
    </form>
    <router-outlet></router-outlet>
</div>
